{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Home{% endblock %}



        {% block content %}
            <div class="jumbotron text-center">
                <img  src="{% static 'site/img/esl_logo.png' %}" alt="home_photo">
            <div class="row">
                <div class="col-md-8 col-md-offset-2">
                    <p>
                    Excellent Student limited is a registered private company in Kenya offering low-cost and high quality branding and marketing solutions for academic and related institutions. 
                    </p>
                    <p>
                    The ESL is a team of specialists that are passionate about establishing local and international partnerships and collaborations for the development for the development education in East Africa through exhibitions, information seminars, conferences and institutional visits. 
                    </p>
                    <p>
                    Our passion is anchored in our core values; Passion, Creativity, Teamwork, Client Satisfaction and Excellence. Our team comprises diverse and talented individuals whose backgrounds lie in teaching, counseling and marketing and branding.
                    </p>
                    <p>
                    We provide all these services through our monthly and termly publications, as well as through the various digital means. 
                    </p>
                </div>
            </div>

            </div>
        {% endblock content %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

