{% extends "base.html" %}

{% load staticfiles %}
{% load social_share %}

{% block title %}{{ block.super }}Home{% endblock %}



        {% block content %}
 <div class="container">
                <div class="row">
                    <div class="col-md-6 text-center">
                        <p>
                        <img  src="{% static 'site/img/esl_home2.png' %}" height="350" width="470" alt="homep1">
                        </p>    
                    </div> 

                    <div class="col-md-6">
                        <img  src="{% static 'site/img/esl_home.jpg' %}" height="350" width="470" alt="home_photo">
                    </div>
                </div>

<div class="row lead text-center">
                    <div class="col-md-12 well">
                    <h3>
                        <strong>
                            What we do
                        </strong>
                    </h3>    
                    <p>At ESL, we provide specialist marketing and branding for
                    institutions, training and mentoring of young scholars and
                    primary and high schools for the efficient academic growth
                    and development </p>
                    </div>
                    <div class="col-md-12 well">
                        <h3>
                            <strong>
                                What qualifies us?
                            </strong>
                        </h3>
                        <p>
                        Excellent Student Limited really does have a proven
                        track record in marketing and branding of institutions
                        to the highest standards. 
                        </p>
                        <p>
                        We have the expertise,
                        knowledge, first-hand experience and qualifications to
                        make a difference for you and your team.
                        We partner with other organizations in the internationalization of
                        higher education in Kenya

                        </p>
                        <p>
                        We provide you with working knowledge and practical
                        solutions to help you to implement strategies that will
                        give you excellence and distinction in your educational
                        endeavor.
                        </p>
                    </div>
                    <div class="col-md-12 well">
                        <p>
                        <h3>
                            <strong>
                                Vision Statement
                            </strong>
                        </h3>
                        <p>
                        To have total commitment to Excellence in Marketing and
                        Branding
                        </p>
                        <h3>
                            <strong>
                                Mission Statement
                            </strong>                      
                        </h3>
                        <p>
                        Guided by a relentless focus on excellence, we are
                        constantly striving to implement critical initiatives
                        required to achieve our vision. In doing this, we are
                        delivering operational excellence in every corner of
                        our marketing and branding activities to meet and
                        </p>
                        <h3>
                            <strong>
                                Core values
                            </strong>
                        </h3>
                        <ul class="list-unstyled">
                            <li>
                                Passion
                            </li>
                            <li>
                                Creativity
                            </li>
                            <li>
                                Teamwork
                            </li>
                            <li>
                                Client Satisfaction
                            </li>
                            <li>
                                Excellence
                            </li>
                        </ul>
                        </p>
                            <h3>
                                <strong>
                                Our Philosophy
                                </strong>
                            </h3>
                            <p>
                            Establishing creative ways to help our clients make the
                    world better.
                            </p>

                        <h3>
                    <strong>Our commitment </strong>
                        </h3>
                    <h3>
                        Be creative and innovative 
                    </h3>
                    <p>
                    To be highly informed and broadminded for acting
                    quickly and resolutely to changes in the market
                    </p>
                    <h3>
                        Be excellent communicators
                    </h3>
                    <p>
                    Bring together diverse skills in communication the
                            clients’ brands to the market
                    </P>
                    <h3>
                            Displaying integrity and excellence
                    </h3>
                    <p>
                    To work with highest standards of sincerity and
                    diligence as an honorable company
                    These are our daily guidelines in our branding
                    and marketing activities to realise our
                    esteemed aspirations
                    </p>

                </div>

         </div>
</div>
        {% endblock content %}

{% block scripts %}
<script src="{% static 'site/js/site.js' %}"></script>
{% endblock scripts %}

