{% extends "base.html" %}

{% load staticfiles %}

{% block title %}{{ block.super }}Our Services{% endblock %}



<!-- Benefits of the Django application -->
{% block container %}
<div class="container">

<div class="starter-template">
</div>
<div class="text-center">
    <h3><span class="label label-default">Our Services</span></h3>
</div>

<div class="row well">
    <div class="col-md-6">
        <h3>
            Academic Branding 
        </h3>
        <a href="http://www.excellencestudentmagazine.co.ke">
            <img  src="{% static 'site/img/esl.jpg' %}"  width="250" height="100" alt="logo">
        </a>
      <p>Academic Branding enable you establish and propel your institution to
      a high level through creative digital branding.
      </p> 
      <ul>
          <li>
              Website development
          </li>
          <li>
              Exam analysis tools
          </li>
          <li>
              Social Media marketing
          </li>
          <li>
              School Management system
          </li>
          <li>
              Signage 
          </li>
      </ul>
      <p><a class="btn btn-primary" href="http://www.excellencestudentmagazine.co.ke" role="button">Learn more
          &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h3>
            The Academic Mentor
        </h3>
        <img  src="{% static 'site/img/acm.png' %}"  width="250" height="100" alt="logo">
      <p>Overcoming academic -related challenges takes expertise and
      perspective. The Academic Mentor can give you both. 
      We are a coalition of experienced educators and mentors dedicated to
      helping young people manage their academic challenges through our
      consultation services, experiential workshops and seminars, and related
      resources.
      We also provide consultancy on academic research and online-based
      opportunities for college and out of college students and alumnus
      respectively.
     </p> 
      <p><a class="btn btn-primary" href="http://www.earlychildhoodnews.co.ke" role="button">Learn more
          &raquo;</a></p>
    </div>
    <div class="col-md-6">
        <h3>
            Early Childhood News
        </h3>
        <a href="http://www.earlychildhoodnews.co.ke">
            <img  src="{% static 'site/img/ecn.jpg' %}"  width="250" height="100" alt="logo">
        </a>
      <p>We are a consultancy group, working in partnership with early
      childhood professionals, in the provision of reflective professional
      development and consultancy services for continued improvement.
      As a consultancy, we are focused towards working with in partnership with
      early childhood professionals on their unique and ongoing journeys of
      professional growth.  
      We believe early childhood educators should be confident in using their
      professional expertise and judgment to make informed decisions to
      improve, embed, and maintain the highest quality outcomes on matters of
      early childhood.
      <p><a class="btn btn-primary" href="http://www.earlychildhoodnews.co.ke" role="button">Learn more
          &raquo;</a></p>
     </p> 
    </div>
    <div class="col-md-6">
        <h3>
            Excellence Student Management
        </h3>
        <a href="http://www.excellencestudentmagazine.co.ke">
            <img  src="{% static 'site/img/esm.png' %}"  width="250" height="100" alt="logo">
        </a>
      <p> 
 ESM offers an academically sound literature enabling learners to make informed choices in their academic and career aspirations. 
The magazine is published on monthly and supplied to high schools at a termly or yearly subscription fee.
</p>

The ESM - High Schools Catalog
A termly publication that features high performing high schools and international schools in Kenya. The publication gives class eight candidates and parents an opportunity to know the schools that are available for them  upon completion of the primary school system.  

      <p><a class="btn btn-primary" href="http://www.earlychildhoodnews.co.ke" role="button">Learn more
          &raquo;</a></p>


    </div>
</div>
<div class="row well">
    <div class="colmd-12 col-md-offset-2">
            <h2>
                Benefits of working with us
            </h2>
        <ol>
            <li>
                Free advertisements in the company website and social media
            </li>
            <li>
                Big advertisement spaces in our student magazine and High schools catalog
            </li>
            <li>
                Participation in academic symposiums
            </li>
            <li>
                Hosting of student activities and events as organized by the company (Colleges and tertiary institutions)
            </li>
            <li>
                Increased publicity and awareness of your institution
            </li>
            <li>
                Free straight talk to students/motivational seminars for the students through the G&C and Career Counseling departments
            </li>
            <li>
                Participation in primary school events and activities (High Schools)
            </li>
            <li>
                Advertisement in the out-of-school programs (Malls and other facilities)
            </li>
        </ol>
    </div>
</div>

{% endblock container %}

